<div class="col-lg-3 col-md-5 col-12">
	<div class="header-search">
		<form asp-controller="Product" asp-action="Search">
			<input type="text" name="keyword" placeholder="Search entire store here..." />
			<a href="#"><i class="fa fa-search"></i></a>
		</form>
	</div>
</div>
<div class="col-lg-6 col-md-4 col-12">
	<div class="logo-area text-center logo-xs-mrg">
		<a asp-controller="Product" asp-action="Index"><img src="~/img/logo//logo.png" alt="logo" /></a>
	</div>
</div>
